{{!-- <div class="card">
  {{#each this}}
  <div>
    <p>
    {{contents}} - {{user.username}} 
    </p>
  </div>
  {{/each}}
</div> --}}


<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="text">
            {{this.comment_text}}
        </div>
        <div class="meta">
            - {{user.username}} on {{this.created_at}}
        </div>
    </section>
    {{/each}}
</div>