{{>headernav}}
<section>
  <div class="blog-card add-border">
    <div class="blogTitle"> {{this.id}} - {{this.title}}</div>
    <p>{{contents}}</p>
    <div class="postedBy">By: {{user.username}} on {{this.datePosted}}
    </div>
  </div>
</section>